<p> Order Summary </p>

<table class="table table-striped">
 
  <tr>
  <th>Order Id</th>
  <th>Order quantity</th>

  </tr>

 
     <td><%= @find_order.id %></td>
    <td><%= @find_order.quantity %></td>
   

  </tr>
</table>