


<table class="table table-striped">
<th>Name</th>
<th>Price</th>
<th>Image</th>
<th>Description</th>

<tr>
<td><%= @find_product.name %> </td>
<td>    <%= @find_product.price %> </td>
<td>   <%=@find_product.image %>   </td>
<td><%=@find_product.description %></td>

</tr>
</table>